html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(248, 246, 246);
}

button {
    height: 30px;
    widows: 30px;
    font-size: 15px;
    background-color: rgb(223, 216, 176);
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* .grid-item {
    padding: 20px;
    border: 1px solid black;
} */

.two h1 {
    text-align: center;
    font-size: 64px;
}

.eight p {
   text-align: left;
}
 
#myTable {
    font-family: Helvetica;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#myTable td,
#myTable th {
    border: 2px solid #ddd;
    padding: 8px;
}

#myTable tr:nth-child(even) {
    background-color: #d0dff0;
}

#myTable tr:hover {
    background-color: #ddd;
}

#myTable th {
    padding: 12px 0;
    background-color: rgba(103, 118, 206, 0.959);
    color: white;
}

